# Environment & Credentials


# Debug artifacts
debug_queue_output.txt

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Uploads
# Ignore semua isi folder uploads
server/uploads/*

# Tapi jangan ignore foldernya
!server/uploads/

# Jangan ignore file placeholder
!server/uploads/.gitkeep
*.sqlite
*.db
src_zona1_backup/
# Ignore semua isi folder uploads
uploads/*

# Tapi jangan ignore foldernya
!uploads/

# Jangan ignore file placeholder
!uploads/.gitkeep
package-lock.json